@import "~materialize-css/dist/css/materialize.min.css";

input.darkgreen-input  {
    border-bottom: 1px solid #66bb6a !important;
    box-shadow: 0 1px 0 0 #66bb6a !important;
}
input.darkgreen-input, .AuthPageLabel{
 color: #fff !important;
}
nav {
    background-color: #66bb6a !important;
}
.nav-wrapper {
    padding: 0 2rem;
}
input.createPageInput, .createPageLabel {
    color: #000 !important;
}